create database QL_NHANVIEN
USE [QL_NHANVIEN]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 13/05/2019 8:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Phai] [char](1) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Luong] [float] NULL,
	[Phong] [int] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 13/05/2019 8:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPHG] [int] IDENTITY(1,1) NOT NULL,
	[TenPHG] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[MaPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Phai], [NgaySinh], [DiaChi], [Luong], [Phong], [TrangThai]) VALUES (1000, N'Fuller H. Kemp', N'M', CAST(0x0000735100000000 AS DateTime), N'Canada', 39000, 5, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Phai], [NgaySinh], [DiaChi], [Luong], [Phong], [TrangThai]) VALUES (1001, N'Skyler M. Beach', N'F', CAST(0x000076F000000000 AS DateTime), N'Canada', 60000, 4, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Phai], [NgaySinh], [DiaChi], [Luong], [Phong], [TrangThai]) VALUES (1002, N'Tanisha L. Sloan', N'M', CAST(0x00007A7500000000 AS DateTime), N'Canada', 48000, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[PhongBan] ON 

INSERT [dbo].[PhongBan] ([MaPHG], [TenPHG]) VALUES (1, N'Phong A')
INSERT [dbo].[PhongBan] ([MaPHG], [TenPHG]) VALUES (2, N'Phong B')
INSERT [dbo].[PhongBan] ([MaPHG], [TenPHG]) VALUES (3, N'Phong C')
SET IDENTITY_INSERT [dbo].[PhongBan] OFF
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhongBan] FOREIGN KEY([Phong])
REFERENCES [dbo].[PhongBan] ([MaPHG])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhongBan]
GO
